.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.inputOuter{
  height: 50%;
  width: 70%;
  margin: 0% 30% 2% auto;
}


.personalEdit{
  width: 20%;
  margin: 0 30% 0 40%;
}


.buttonRegulate{
  width: 10%;
  margin: 0 30% 0 70%;
}

.picControl{
  width: 23%;
  height: 30%;
  margin-top: 0%;
  float: right;
}


.infoNameDis{
  height: 5%;
  font-size: 6mm;
  padding-left: 40%;
  padding-right: auto;
}

.infoDesDis{
  height: 5%;
  font-size: 6mm;
  padding-left: 10%;
  padding-right: auto;

}

.textLook{
  margin-bottom: 0%;
}

#tileLook{
  width: 15%;
  text-align: center;
}

.titlePos{
  margin-bottom: 5mm;
}

.projectNameDis{
  float: left;
  width: 50% ;
}
