<div class="d-flex flex-column flex-md-row align-center p-3 px-md-4 mb-3 bg-white box-shadow">
  <div class="container">

    <!--This is the start of a sub component display-->
    <div class="card mb-4 box-shadow text-center" style="width: 100%">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Personal Information</h4>
      </div>
      <div class="card-body">
        <!--input space-->
        <div class="picControl">
          <img src="assets/test.JPG" class="img-thumbnail">
        </div>

        <div class="inputOuter">
          <div class="input-group-prepend">
            <span class="input-group-text">Name</span>

            <div class="infoNameDis">

              <p class="textLook">dark reunion</p>
            </div>
          </div>
        </div>

        <div class="inputOuter">
          <div class="input-group-prepend">

            <span class="input-group-text">Description</span>
            <div class="infoDesDis">
              <p class="textLook"> I am a genius. And I do everything</p>

            </div>
          </div>
        </div>


        <button type="button" class="btn btn-lg btn-block btn-outline-primary personalEdit">Edit</button>

      </div>
    </div>

    <!--Display for component Skill tree-->
    <div class="card mb-4 box-shadow text-center" style="width: 100%">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Free</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$0
          <small class="text-muted">/ mo</small>
        </h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>10 users included</li>
          <li>2 GB of storage</li>
          <li>Email support</li>
          <li>Help center access</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
      </div>
    </div>

    <!--Display for component Projects-->
    <div class="card mb-4 box-shadow text-center" style="width: 100%">
      <div class="card-header titlePos">
        <h4 class="my-0 font-weight-normal">Projects</h4>
      </div>
      <div class="card-body" *ngFor=" let project of projects">
        <h3 class="projectNameDis">{{project.name}}</h3>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary buttonRegulate">Edit</button>
      </div>
    </div>

  </div>
</div>
