
<div class="mt-5 mb-2 mx-auto input-group" style="width:600px">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Username</span>
  </div>
  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>


<div class="input-group mt-2 mb-2 mx-auto" style="width:600px">
  <div class="input-group-prepend">
    <label class="input-group-text">Upload</label>
  </div>
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="inputGroupFile01">
    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
  </div>
</div>


<div class="mt-2 mb-2 mx-auto input-group" style="width:600px">
  <div class="input-group-prepend">
    <label class="input-group-text">Description</label>
  </div>
  <textarea class="form-control" id="self-description" rows="3"></textarea>
</div>

<div class="mx-auto" style="width:100px">
  <button type="button" class="btn btn-info mx-auto" placeholder="Brief Self Intro">Submit</button>
</div>


